.header{

    background-color: #232f3e;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header__search{
    display: flex;
    flex: 1;
}

.header__searchInput{
    padding: 10px;
    height: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon{
    background-color: #febd69;
    padding: 3px;
    /* height: 22px !important; */
}

.header__nav{
    display: flex;
    justify-content: space-evenly;

}

.header__link{
    color: white;
    text-decoration: none;
}

.header__options{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__linktext{
    font-size: 10px;

}

.header__linktextLower{
    font-size: 10px;
    font-weight: 700;
}

.header__optionBasket{
    display: flex;
    align-items: center;

}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}